@font-face {
    font-family: Graphik LC TT;
    src: url(./fonts/GraphikLCG-Regular.ttf);
}
@font-face {
    font-family: GraphikLCG-Semibold;
    src: url(./fonts/GraphikLCG-Semibold.ttf);
}
@mixin font($fs, $fw, $lh){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Graphik LC TT, sans-serif;
}

.left-line{
    border-left: 1px solid black;
}
.underlined{
    text-decoration: underline;
}
.bg-pink{
    background-color: #FFF8E4;
}
.nav{
    // margin-bottom: 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 240px;
    border-bottom: 1px solid rgb(189, 198, 218);

    &__left-block{
        display: grid;
        grid-template-columns: 232px 1fr;
        grid-template-rows: 1fr;
        padding-top: 34px;
        padding-bottom: 33px;

        &__menu{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr;
            grid-template-rows: 1fr;
            color: #000;
            @include font(15px, 400, 20px)
        }

        &__menu a{
            color: #000;
            @include font(15px, 400, 20px) 
        }

        &__logo{
            padding-left: 51px;
        }
    }

    &__right-block{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 120px 120px;
        justify-items: end;
        column-gap: 10px;
        padding-top: 25px;
        padding-bottom: 25px;

        &__login{
           padding: 0 34px;
            color: #000;
            text-align: center;
            background-color: #FFF;
            border: 1px solid;
            cursor: pointer;
            @include font(16px, 600, 45px)
        }
        &__tryit{
            padding: 0 22px 0 21px;
            background-color: #FF6336;
            color: #FFF;
            text-align: center;
            border: none;
            cursor: pointer;
            @include font(16px, 600, 45px)  
        }
        
    }
}
     
.first-block{
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    margin-bottom: 182px;
    padding-top: 97px;   
    &__item{
        display: grid;

        &__heading{
            color: #000;
            margin-bottom: 51px;
            font-family: GraphikLCG-Semibold, sans-serif;
            @include font(60px, 600, 70px)
        }
        &__text{
            color: #000;
            max-width: 427px;
            margin-bottom: 51px;
            @include font(25px, 400, 35px)

        }

        &__btn-box{
            display: flex;
            gap: 10px;
            margin-bottom: 25px;

            &__btn1{
                padding: 0 41px 0 42px;
                background: #FF6336;
                color: #FFF;
                text-align: center;
                border: none;
                cursor: pointer;
                @include font(16px, 600, 60px)

            }
            &__btn2{
                padding: 0 41px 0 42px;
                color: #000;
                text-align: center;
                cursor: pointer;
                @include font(16px, 600, 60px)
            }
        }
        &__span{
            color: #000;
            @include font(15px, 400, 25px)
        }
        
    }
}

.second-block{  
    display: grid;
    justify-content: center;
    background-color: #FF9C7D;
    padding: 75px 50px;

    &__container{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 70px;
        justify-items: center;
    }
    &__logos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 103px;
    }
    &__heading{
        color: #000;
        text-align: center;
        width: 60%;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(50px, 600, 60px)
    }
}

.third-block{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 90px 75px 250px 75px;

    &__item{
        display: grid;
        align-content: center;
        justify-content: start;
        row-gap: 30px;
        &__heading{ 
        width: 493px;
        color: #000;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(50px, 600, 60px)
        }
        &__span{
        width: 491px;
        color: #000;
        @include font(20px, 400, 30px)
        }
        &__link{
        width: 96px;
        color: #000;
        cursor: pointer;
        @include font(20px, 600, 30px)
        }
    }
}

.fourth-block{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0px 75px 250px 75px;

    &__item{
        display: grid;
        align-content: center;
        justify-content: center;
        row-gap: 30px;

        &__heading{ 
            width: 379px;
            color: #000;
            font-family: GraphikLCG-Semibold, sans-serif;
            @include font(50px, 600, 60px)
        }
    
        &__span{
                width: 450px;
            color: #000;
            @include font(20px, 400, 30px)
        }
    
         &__link{
            width: 96px;
            color: #000;
            cursor: pointer;
            @include font(20px, 600, 30px)
        }  
    }
}

.fifth-block{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0px 75px 250px 75px;
    &__item{
        display: grid;
        align-content: center;
        justify-content: start;
        row-gap: 30px;
        &__heading{
            width: 493px;
            color: #000;
            font-family: GraphikLCG-Semibold, sans-serif;
            @include font(50px, 600, 60px)
        }
        &__span{
            width: 491px;
            color: #000;
            @include font(20px, 400, 30px)
        }
        &__link{
            width: 96px;
            color: #000;
            cursor: pointer;
            @include font(20px, 600, 30px)
        }   
    }
}
   .sixth-block{  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0px 75px 150px 75px;

    &__item{
        display: grid;
        align-content: center;
        justify-content: center;
        row-gap: 30px;
        padding: 119px 66px 158px 66px;
    
        &__heading{ 
            width: 379px;
            color: #000;
            font-family: GraphikLCG-Semibold, sans-serif;
            @include font(50px, 600, 60px)
        }
        &__span{
            width: 450px;
            color: #000;
            @include font(20px, 400, 30px)
        }
    
         &__link{
            width: 96px;
            color: #000;
            cursor: pointer;
            @include font(20px, 600, 30px)
        }  
    }
}

.eight-block{
    padding: 0 75px 147px 0;
    background: #FFF8E4;

    &__heading{
        color: #000;
        text-align: center; 
        padding: 120px 0px 58px;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(50px, 600, 60px)
    }
    &__list{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        column-gap: 110px;
        row-gap: 57px;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px
    }
    &__img{
        width: 160px;
    }
    &__item__heading{
        color: #000;
        text-align: center;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(25px, 600, 35px)
    }
    &__item__span{
        color: #000;
        text-align: center;
        max-width: 300px;
        @include font(18px, 400, 25px)
    }
}

.tenth-block{ padding: 154px 75px 187px;
    &__head{
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(50px, 600, 60px)
    }
    &__box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 50px;

        &__item{
            padding-right: 31px;
            display: flex;
            flex-direction: column;

            &__img1{
                margin-bottom: 49px;
            }
            &__img2{
                margin-top: 17px;
                margin-bottom: 67px;
            }
            &__img3{
                margin-top: 9px;
                margin-bottom: 58px;
            }
            &__heading{
                margin-bottom: 34px;
                font-family: GraphikLCG-Semibold, sans-serif;
                @include font(30px, 600, 40px)
            }
            &__span{ 
                margin-bottom: 25px;
                @include font(20px, 400, 30px)
            }
            &__link{
                text-decoration-line: underline;
                @include font(20px, 400, 30px);
                color: black;
            }
            &__link:visited{
                color: #000;
            }
        }
    }  
}

.eleventh-block{
    background: #C9E8F2;
    padding: 63px 75px 105px 75px;
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 1fr;
    column-gap: 59px;
    &__item{
        display: flex;
        flex-direction: column;
        &__text{
            margin-bottom: 23px;
            @include font(30px, 400, 40px)
        }
        &__name{
            margin-bottom: 7px; 
            @include font(15px, 400, 25px)
        }
    }
}
.twelfth-block{
    background-color: #DABC98;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 69px 76px 80px 54px;
    &__item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        column-gap: 67px;
        align-items: center;

        &__img{
            width: 176px;
        }
        
        &__span{
            width: 461px; 
            color: #000;
            @include font(35px, 600, 50px)         
        }
    }

    &__rate{
        display: grid;
        &__logo{
            margin-bottom: 20px;
        }
        &__stars{
            margin-bottom: 14px;
        }
    }
    &__rate:first-child{
        padding-left: 70px;
    }
}

.thirteenth-block{
    display: grid;
    justify-items: center;
    padding-bottom: 162px;
    padding-top: 169px;
    
    &__heading{
        color: #000;
        text-align: center;
        max-width: 790px;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(65px, 600, 75px)
    }
    &__span{
        color: #000;
        text-align: center;
        max-width: 539px;
        @include font(25px, 400, 30px)
    }
    &__img{
        margin: 25px 55px 32px 55px;
    }
    &__btn{
        background: #FF6336;
        padding: 0 20px;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        border: 0;
        @include font(16px, 600, 60px)
    }
}

.fourteenth-block{
    display: grid;
    justify-items: center;
    padding-bottom: 161px;
    padding-top: 119px;
    background-color: #FF9C7D;
    &__heading{
        color: #000;
        text-align: center;
        max-width: 790px;
        margin-bottom: 29px;
        font-family: GraphikLCG-Semibold, sans-serif;
        @include font(65px, 600, 75px)
    }
    &__span{
        color: #000;
        text-align: center;
        margin-bottom: 54px;
        @include font(25px, 400, 30px)
    }
    &__btn{
        background: #000;
        padding: 0 40px;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        @include font(17px, 600, 60px)
    }
}
.footer{
    background: #EEE;
    padding: 92px 86px 43px 75px;
    display: flex;
    flex-direction: column;

    &__top{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 95px;
        border-bottom: 1px solid black;
        
        &__menu-box{
            display: flex;
            flex-direction: column;
            gap: 15px;
            &__heading{
                margin-bottom: 6px;
                font-family: GraphikLCG-Semibold, sans-serif;
                @include font(20px, 600, 25px)
            }
            &__item{
                @include font(15px, 400, 15px);
                color: black;
            }

            &__item a:visited {
                color: #000;
            }            
        }
        &__left{
            flex-direction: column;
            display: flex;
            &__img1{
                margin-bottom: 31px;
            }
            &__span{
                margin-bottom: 15px;
            }
            
            &__img2{
                margin-bottom: 11px;
            }
            &__heading{
                margin-bottom: 28px;
                font-family: GraphikLCG-Semibold, sans-serif;
                @include font(40px, 600, 50px)
            }
            &__link{
                color: #000;                
            }
            &__link:visited {
                color: #000;
            }
        } 
    }

    &__bottom{
        display: grid;
        grid-template-columns: 6fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 53px;

        &__left{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 3.5fr 4fr;
            column-gap: 14px;
        }

        &__right{
            display: flex;
            flex-direction: column;
        }
    }
}